*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  color: rgb(57, 9, 117);
  font-size: 2em;
  overflow: hidden;
}

:disabled{
  background: white;
  color: rgb(57, 9, 117);
  font-weight: 700 !important;
}

.logo{
  width: 330px;
  height: 140px;
  background-image: url('logo.svg');
  background-size: cover;
  transition: .5s ease-in-out;
}

.logo:hover{
  background-image: url('logo1.svg');
  transition: .5s ease-in-out;
}

.content{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label{
  position: relative;
  top: 25px;
  right: 10px;
  height: 20px;
  padding: 40px;
  width: 20%;
  font-size: .8em;
}

input[type="text"], label{
  padding: 0px 10px;
  width: 100%;
  max-width: 350px;
  margin: 13px 0px;
  z-index: 5;
}

input[type="text"]{
  letter-spacing: .8px;
  outline: none;
  font-size: 1.3em;
  font-weight: 100;
  padding: 10px 0px;
  margin: 2px 0px;
  font-weight: 600;
  text-indent: 20px;
  border: none;
  border-bottom: 1px solid rgb(57, 9, 117);
  background: white;
  z-index: 4;
}


input[type="submit"]{
  padding: 12px 90px;
  margin-top: 40px;
  border: 2px solid rgb(57, 9, 117);
  font-size: 1.2em;
  letter-spacing: 2px;
  color:rgb(57, 9, 117);
  background: white;
  border-radius: 8px;
  font-weight: bolder;
  z-index: 4;
}
input[type="submit"]:active{
  background: rgb(57, 9, 117);
  color: white;
  box-shadow: 0px 0px 15px rgb(23, 21, 23);
}

#snackbar{
  position: absolute;
  bottom: 30px;
  padding: 10px;
  font-size: .9em;
  background: rgb(57, 9, 117);
  width: 440px;
  color: white;
  text-align: center;
  visibility: hidden;
}

#snackbar.show{
  visibility: visible;
  animation: fadeIn .5s, fadeOut .5s 2.8s;
}

@keyframes fadeIn {
  from{bottom: 0; opacity: 0;}
  to{bottom: 30px; opacity: 1;}
}
@keyframes fadeOut {
  from{bottom: 30px; opacity: 1;}
  to{bottom: 0; opacity: 0;}
}
